<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/register.css" />
<title>Attendance Form</title>

</head>
<body>
    
  <section id="header">
            <ul id="navbar">
                <li><a class="active" href="/" >Take Attendance</a></li>
                <li><a href="/overall" onclick="">Overall</a></li>
                <li><button onclick="openAdd()">Register Student</button></li>
                <li><a href="/delete" onclick="">Delete Student</a></li>
            </ul>
    </section>
        
    <form id="attendanceForm">
        <table>
            <thead>
                <tr>
                    <th colspan="3">Date: <span id="date"></span></th>
                    <th colspan="3">Attendance</th>
                </tr>
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Present</th>
                    <th>Absent</th>
                    <th>Excused</th>
                </tr>
            </thead>
            <tbody id="studentDataBody">
                <!-- Student data will be inserted here -->
                
            </tbody>
        </table>

        <button type="submit" id="submit">Submit</button>
    </form>
    
   
 </body>
<script src="js/attendance.js"></script>


</html>
