<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/register.css" />
<title>Attendance Form</title>

</head>
<body >
    <a href="/" >Take Attendance</a>
        <a href="/overall" onclick="">Overall</a>
        <a href="/managestudents" >Delete Student</a>

<form id="attendanceForm">
    <table>
        <thead>
            <tr>
                <th colspan="3">Date: <span id="date"></span></th>
                <th colspan="3">Attendance</th>
            </tr>
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Present</th>
                <th>Absent</th>
                <th>Excused</th>
            </tr>
        </thead>
        <tbody id="studentDataBody">
            <!-- Student data will be inserted here -->
            
        </tbody>
    </table>

    <button type="submit" id="submit">Submit</button>
</form>
    <!-- The Modal -->
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="closeAdd()">&times;</span>
            <h1>Student Register</h1>
            <div>
                <form>
                    <label>
                        <span>Student id:</span>
                        <input id="studentId" type="text" />
                    </label>
                    <label>
                        <span>Student name:</span>
                        <input id="studentName" type="text" />
                    </label>
                    <label>
                        <span> </span>
                        <button id="addStudent">Add student</button>
                    </label>
                </form>
                
               
            </div>
        </div>
    
 </body>
<script src="js/attendance.js"></script>


</html>
