<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{!-- <link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/register.css" /> --}}
<link rel="stylesheet" href="css/usiu.css" />
<title>Manage Students</title>
</head>

<body>

  <header id="header">
            <ul id="navbar">
                <li><a href="/" >Take Attendance</a></li>
                <li><a href="/overall" onclick="">Overall</a></li>
                <li><a class="active" href="/delete" onclick="">Manage students</a></li>
            </ul>
    </header>
    
<div class="content-container">
  <h2>Student Management</h2>
  <button class="register" onclick="openAdd()">Register Student</button>
  <form>
    <table id="studentTable">
      <thead>
        <tr>
          <th>Student ID</th>
          <th>Name</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody id="studentList">
        <!-- Student data will be inserted here -->
      </tbody>
  </table>
  </form>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" onclick="closeAdd()">&times;</span>
        <h1>Student Register</h1>
        <div>
            <form>
                <label>
                    <span>Student id:</span>
                    <input id="studentId" type="text" />
                </label>
                <label>
                    <span>Student name:</span>
                    <input id="studentName" type="text" />
                </label>
                <label>
                    <span> </span>
                    <button class="add" onclick="addStudent()">Add student</button> <!-- Added onclick event to call addStudent function -->
                </label>
            </form>
        </div>
    </div>
</div>


<script src="js/delete.js"></script>

</body>
</html>
