<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/register.css" />
<title>Manage Students</title>
</head>
<body>

 <a href="/" >Take Attendance</a>
        <a href="/overall" onclick="">Overall</a>
      <button onclick="openAdd()">Register Student</button>
        <a href="/delete" onclick="">Delete Student</a>

<h2>Student List</h2>

<table id="studentTable">
  <thead>
    <tr>
      <th>Student ID</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="studentList">
    <!-- Student data will be inserted here -->
  </tbody>
</table>






    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="closeAdd()">&times;</span>
            <h1>Student Register</h1>
            <div>
                <form>
                    <label>
                        <span>Student id:</span>
                        <input id="studentId" type="text" />
                    </label>
                    <label>
                        <span>Student name:</span>
                        <input id="studentName" type="text" />
                    </label>
                    <label>
                        <span> </span>
                        <button >Add student</button>
                    </label>
                </form>
                
               
            </div>
        </div>
    </div>
 <table id="content">
</table>
 </body>
 
<script src="js/delete.js"></script>


</html>
