<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/usiu.css"/>
    <title>Edit Attendance</title>
</head>

<body>
    
    <header id="header">
            <ul id="navbar">
                <li><a href="/" >Take Attendance</a></li>
                <li><a class="active" href="/overall" >Overall</a></li>
                <li><a href="/managestudents" >Manage Students</a></li>
            </ul>
    </header>

<div class="content-container">
        <h2>Attendance: <span id="date"></span></h2>
        <form  id="editAttendanceForm">
            <table>
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Student Name</th>
                        <th>Present</th>
                        <th>Absent</th>
                        <th>Excused</th>
                        
                    </tr>
                </thead>
                <tbody id="studentDataBody">
                    <!-- Student data will be inserted here -->
                    
                </tbody>
            </table>

            <button class="register" type="submit" id="submit">Submit</button>
        </form>
    
    </div>

    
</body>
 <script src="js/edit.js"></script>
</html>