<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/usiu.css" />
<link rel="stylesheet" href="css/managestudent.css" />
<title>Manage Students</title>

</head>

<body>

  <header id="header">
            <ul id="navbar">
                <li><a href="/" >Take Attendance</a></li>
                <li><a href="/overall" onclick="">Overall</a></li>
                <li><a class="active" href="/managestudents" onclick="">Manage Students</a></li>
            </ul>
    </header>
    
<div class="content-container">
  <h2>Student Management</h2>
  <div class="register-container"><button class="register" onclick="openAdd()">Register Student</button></div>
  
  <form>
    <table id="studentTable">
      <thead>
        <tr>
          <th class="studentId">Student ID</th>
          <th>Student Name</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody id="studentList">
        <!-- Student data will be inserted here -->
      </tbody>
    </table>
  </form>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" onclick="closeAdd()">&times;</span>
        <h1>Register Student</h1>
        <div class="center-display">
            <form>
                <label>
                    {{!-- <span class="label">Student ID</span> --}}
                    <input id="studentId" type="text" class="input" placeholder="Student ID"/>
                </label>
                <label>
                    {{!-- <span class="label">Student Name</span> --}}
                    <input id="studentName" type="text" class="input" placeholder="Student Name" />
                </label>
                <div id="attendanceSelection" style="display: none;">
                    <label for="attendanceStatus">
                        <span class="label">Attendance Status</span>
                        <select id="attendanceStatus" class="status">
                            <option value="late">Late</option>
                            <option value="absent">Absent</option>
                        </select>
                    </label>
                </div>
                <label>
                    <span> </span>
                    <button id="addStudent">Add student</button> <!-- Added onclick event to call addStudent function -->
                </label>
            </form>
        </div>
    </div>
</div>


<script src="js/delete.js"></script>
<script src="js/register.js"></script>

</body>
</html>
