body {
    margin: 0;
}

/* Style for the tables */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid black;
}

/* Style for the date links */
.date-link {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

/* Style for the container div */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    gap: 0px; /* Gap between grid items */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border: 0;
    padding-top: 10px;
}


/* Style for the student info table */
#student-info-table {
    width: calc(30vw - 20px); /* Adjust as needed */
    vertical-align: top;
    margin-right: 0px; /* Adjust as needed */
    border-collapse: collapse;
    margin-left: 2px;
}

#student-info-table th, #student-info-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Style for the dates table */
#dates-table {
    width: calc(70vw - 20px); /* Adjust as needed */
    border-collapse: collapse;
}
#dates-table th, #dates-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.student-info,.data-div{
    width:100%
}

